body 
{
  margin: 0;
  padding: 0;
  background-color:#B4C5CB;
}
a:ti

a:visited
{
  color:#B4C5CB;
}
  
  .affichage-1-morceau {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    background-color: var(--color-white);
  }
  .sound {
    position: absolute;
    height: 100%;
    width: 5.42%;
    top: 0%;
    right: 91.88%;
    bottom: 0%;
    left: 2.71%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .titre {
    position: absolute;
    height: 67.19%;
    width: 11.15%;
    top: 23.44%;
    left: 16.45%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .i15 {
    position: absolute;
    height: 67.19%;
    width: 13.53%;
    top: 14.06%;
    left: 81.54%;
    display: flex;
    color: #B4C5CB;
    align-items: center;
    justify-content: center;
  }
  .affichage-1-morceau15 {
    position: absolute;
    top: 265px;
    left: 811px;
    width: 554px;
    height: 40px;
    cursor: pointer;
    color: var(--color-lightblue);
    font-family: var(--font-linden-hill);
  }
  .affichage-1-morceau16 {
    position: absolute;
    top: 54px;
    left: 0px;
    width: 554px;
    height: 40px;
    cursor: pointer;
  }
  .affichage-1-morceau17 {
    position: absolute;
    top: 162px;
    left: 0px;
    width: 554px;
    height: 40px;
    cursor: pointer;
  }
  .affichage-1-morceau18 {
    position: absolute;
    top: 108px;
    left: 0px;
    width: 554px;
    height: 40px;
    cursor: pointer;
  }
  .affichage-1-morceau19 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 554px;
    height: 40px;
    cursor: pointer;
  }
  .affichage-1-morceau20 {
    position: absolute;
    top: 378px;
    left: 0px;
    width: 554px;
    height: 40px;
    cursor: pointer;
  }
  .affichage-1-morceau21 {
    position: absolute;
    top: 324px;
    left: 0px;
    width: 554px;
    height: 40px;
    cursor: pointer;
  }
  .affichage-1-morceau22 {
    position: absolute;
    top: 266px;
    left: 0px;
    width: 554px;
    height: 40px;
    cursor: pointer;
  }
  .affichage-1-morceau23 {
    position: absolute;
    top: 216px;
    left: 0px;
    width: 554px;
    height: 40px;
    cursor: pointer;
  }
  .affichage-1-morceau-parent {
    position: absolute;
    top: 319px;
    left: 811px;
    width: 554px;
    height: 418px;
    color: var(--color-lightblue);
    font-family: var(--font-linden-hill);
  }
  .historique-dcoute {
    position: absolute;
    top: 22.99%;
    left: 49.3%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .bootstrapshapesheart-fill-icon {
    position: absolute;
    top: 636px;
    left: 151px;
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
  }
  .bootstrapshapesheart-fill-icon1 {
    position: absolute;
    top: 636px;
    left: 326px;
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
  }
  .bootstrapshapesheart-fill-icon2 {
    position: absolute;
    top: 635px;
    left: 517px;
    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
  }
  .vos-playlist {
   
    position: relative;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .qualf-1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .qualf-111 {
    position: relative;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
  .artiste52 {
    position: relative;
  }
  .description10 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .playlist12 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-3xs);
    cursor: pointer;
  }
  .playlist11 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 45px;
    font-size: var(--font-size-xl);
    font-family: var(--font-linden-hill);
  }
  .qualf-114 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
  .artiste55 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .titre73 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    cursor: pointer;
  }
  .titre72 {
    position: absolute;
    top: 0px;
    left: 104px;
    width: 59px;
    height: 27px;
  }
  .duree {
    position: absolute;
    top: 26px;
    left: 104px;
    width: 59px;
    height: 27px;
  }
  .qualf-1-parent {
    position: absolute;
    top: 0px;
    left: 175px;
    width: 163px;
    height: 100px;
  }
  .titre_musique {
    position: absolute;
    top: 0px;
    left: 102px;
    width: 59px;
    height: 27px;
  }
  .duree2 {
    position: absolute;
    top: 26px;
    left: 106px;
    width: 59px;
    height: 27px;
  }
  .qualf-1-group {
    position: absolute;
    top: 0px;
    left: 366px;
    width: 165px;
    height: 100px;
  }
  .qualf-1-container {
    position: absolute;
    top: 4px;
    left: 0px;
    width: 165px;
    height: 100px;
  }
  .group-container {
    position: relative;
    width: 531px;
    height: 104px;
    font-size: var(--font-size-xl);
    font-family: var(--font-linden-hill);
  }
  .playlistfav {
    position: absolute;
    top: 191px;
    left: 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 46px;
  }
  .accueil1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -2.3%;
    right: -1.39%;
    bottom: 2.3%;
    left: 1.39%;
    background-color: var(--color-silver);
    overflow: hidden;
  }
  .accueil-log1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 98%;
    height: 100%;
  }
  .accueil-log {
    position: relative;
    width: 100%;
    height: 870px;
    text-align: center;
    font-size: var(--artiste-size);
    color: var(--color-white);
    font-family: var(--artiste);
  }
  



  @media only screen and (max-width:500px) 
{


  .full-width-img {
    margin: auto;
    width: 90%;
    }
  body 
  {
    margin: 0;
    padding: 0;
    background-color:#d69fe1;
  }

  .accueil-log1 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 98%;
    height: 200%;
  }


  .historique-dcoute {
    position: absolute;
    top: 200px;
    left: 49.3%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  .affichage-1-morceau-parent {
    position: absolute;
    top: 319px;
    left: 11px;
    width: 0.2%;
    height: 4%;
    color: var(--color-lightblue);
    font-family: var(--font-linden-hill);
  }


  .playlistfav {
    position: absolute;
    top: 891px;
    left: 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10%;
  }


  .group-container {
  position:absolute;
    top: 300px;
    width: 30vw;
    height: 104vw;
    font-size: var(--font-size-xl);
    font-family: var(--font-linden-hill);
  }

  .qualf-1-parent {
    display: flex;
    flex-direction: column;
    top: 0px;
    left: 175px;
    width: 163px;
    height: 100px;
  }


}



