h1{

    font-size: 2rem;

}

.container-a{
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.img_playlist{

    width : 10vw;

}

.titre
{
    display: flex;
    justify-content: space-between;

}
.listes
{

    display: flex;
    justify-content: space-between;


}


  
.rectangle {
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
    height: 20px;
    width: 50vw;
  }

  .rectangle-img{
    width: 8vw;
    max-width: 50px;
    max-height: 50px;
    margin-right: 50px;
  }


.partie_droite
{
    display: flex;
    flex-direction: column;
    gap: 20vh;
}



@media screen and (max-width: 600px) {


    .container{

        display:flex;
        flex-direction: column;
        align-items: center;
    }


    .rectangle {
        flex-wrap: wrap;
        width: 6vw;
        height: auto;
      }
  
      .rectangle-info {
        flex: 100%;
        margin-right: 0;
        margin-bottom: 10px;
        text-align: center;
      }
      .rectangle-img{
        width: 3rem;
        margin-right: 0;
      
      }

      .layout_principal
      {
        display: flex;
        flex-direction: column;
      }


  
}