.resultat-recherche-inner {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: var(--color-silver);
	width: 1436px;
	height: 941px;
}
.playlist-forme-longue-child {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 0%;
	background-color: var(--color-white);
	cursor: pointer;
}
.font-awesome-freebrandsoundc4 {
	position: absolute;
	height: 90.91%;
	width: 4.58%;
	top: 0%;
	right: 93.5%;
	bottom: 9.09%;
	left: 1.92%;
	max-width: 100%;
	overflow: hidden;
	max-height: 100%;
}

.titre24 {
	position: absolute;
	height: 49.09%;
	width: 5.4%;
	top: 25.45%;
	right: 88.1%;
	bottom: 25.45%;
	left: 6.5%;
}
.jour1 {
	position: relative;
}
.date1 {
	position: absolute;
	height: 49.09%;
	width: 16.67%;
	top: 25.45%;
	right: 3.3%;
	bottom: 25.45%;
	left: 80.04%;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--gap-12xl);
}
.playlist-forme-longue {
	position: relative;
	width: 1092px;
	height: 55px;
}
.playlist-forme-longue-item {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 0%;
	background-color: var(--color-white);
}
.playlist-forme-longue3 {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 0%;
	cursor: pointer;
}
.playlist-forme-longue4 {
	position: relative;
	width: 1092px;
	height: 55px;
	cursor: pointer;
}
.frame {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--gap-4xl);
}
.liste-playlist-longue {
	position: absolute;
	top: 284px;
	left: 140px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.liste-playlist-longue1 {
	position: absolute;
	top: 531px;
	left: 140px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.resultat-recherche4 {
	position: absolute;
	height: 100%;
	width: 99.93%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 0.07%;
	color: var(--color-darkslategray);
	font-family: var(--font-linden-hill);
}
.logo-child9 {
	position: relative;
	width: 50px;
	height: 50px;
	object-fit: cover;
}

.group-child12 {
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: var(--br-xl);
	background-color: var(--color-silver);
	width: 276px;
	height: 50px;
}

.rectangle-parent11 {
	position: relative;
	width: 276px;
	height: 51px;
	cursor: pointer;
}
.design-sans-titre-19 {
	position: relative;
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.header-princ-child6 {
	position: relative;
	width: 45px;
	height: 45px;
	object-fit: cover;
}
.group-child13 {
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: var(--br-xl);
	background-color: var(--color-darkgray);
	width: 541px;
	height: 55px;
}

.rectangle-parent12 {
	position: relative;
	width: 541px;
	height: 55px;
}
.bootstrapreal-worldbook-icon4 {
	position: relative;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.albums1 {
	position: absolute;
	top: 18.7%;
	left: 6.82%;
	font-size: var(--font-size-45xl);
}
.resultat-recherche-container {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0%;
	right: 0%;
	bottom: 0%;
	left: 0%;
}
.albums {
	position: relative;
	width: 100%;
	height: 941px;
	text-align: center;
	font-size: var(--font-size-xl);
	color: var(--color-white);
	font-family: var(--artiste);
}
