
.playlist {
    display: flex;
    flex-wrap: wrap;
  }

.le_son {
    flex-basis: 85%; 
      box-sizing: border-box;
    padding: 10px;
  }  


  .rectangle {
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;
  }

  .rectangle-img{
    width: 3rem;
    margin-right: 50px;
  }
  .rectangle-info{
    flex: 1;
    margin-right: 10px;
  
  }