h3{ text-align: end;}


.playlist{

    display: flex;
    flex-direction: column;
    gap:12vh;


}
a{
  flex: 1;
  width: 1rem;
}


.container-a {
    display: flex;
    justify-content: space-between;
    gap:10vw
  }
.img_playlist{
    flex: 1;
    width: 100%;

  }


  @media screen and (max-width: 600px)
   {

    .container-a  {
        display: flex;
        flex-direction: column;
        gap:10vw;
        align-items: center;
      }

      .img_playlist{
        flex: 1;
        width: 10rem;
    
      }

  }