
.container-a {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   
  }

  input
  {
    margin-left: 2rem;
    width: 40vw;
    max-width: 500px;
    min-width: 200px;
  }
  
  .button-container {
    text-align: center;
  }
  
  button {
    margin-top: 3rem;
    padding: 10px 20px;
    font-size: 16px;
  }

  .rectangle {
    width: 15vw; /* Largeur du rectangle (50% de la largeur du conteneur parent) */
    height: 20px; /* Hauteur du rectangle */
    background-color: rgb(181, 178, 178); /* Couleur de fond gris */
    margin: 12px;
    padding: 7px;
    margin-top: 3rem;
    border-radius: 2rem;
    text-align: center;
  }