
body 
{
  margin: 0;
  padding: 0;
  background-color:#B4C5CB;
}

.group-child10 {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: var(--br-13xl);
  background-color: var(--color-silver);
  width: 651px;
  height: 578px;
}
.valider-child1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 0%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.valider3 {
  position: absolute;
  top: 407px;
  left: 291px;
  border-radius: var(--br-xl);
  background-color: var(--color-snow-300);
  width: 69px;
  height: 69px;
  cursor: pointer;
}
.crer-votre-playlist {
  position: absolute;
  top: 4.33%;
  left: 3.69%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.group-child11 {
  position: absolute;
  top: 252px;
  left: 47px;
  background-color: var(--color-gainsboro);
  width: 557px;
  height: 73px;
}
.rectangle-parent10 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 651px;
  height: 578px;
}
.nom-de-lartiste1 {
  position: absolute;
  top: 147px;
  left: 188px;
  color: var(--color-snow-200);
}
.cration-du-playlist3 {
  position: relative;
  width: 100%;
  height: 578px;
  text-align: center;
  font-size: var(--artiste-size);
  color: var(--color-white);
  font-family: var(--artiste);
}
