
  .container-a{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .container-a input[type="text"] {
    margin-bottom: 10px;
    flex: 1;
    min-width: 200px;
  }
  
  .container-a button {
    flex-shrink: 0;
    margin-left: 10px;
  }
  
#verification_mdp
{
  display: none;
}



  @media screen and (max-width: 600px) {
    .container-a input[type="text"] {
      flex-basis: 100%;
    }
    
    .container-a button {
      margin-left: 0;
      margin-top: 10px;
    }
  }
  .Envoyer
  {
    
    background-color: #fff;
    border: 1px solid #000;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2rem;


  }