.group-child25 {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: var(--color-silver);
	width: 1436px;
	height: 941px;
}
.design-sans-titre-115 {
	position: relative;
	width: 100px;
	height: 100px;
	object-fit: cover;
}
.logo38 {
	background-color: var(--color-snow-100);
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
}
.logo37 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	cursor: pointer;
}
.header-princ-child12 {
	position: relative;
	width: 45px;
	height: 45px;
	object-fit: cover;
}
.group-child26 {
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: var(--br-xl);
	background-color: var(--color-darkgray);
	width: 541px;
	height: 55px;
}
.recherche7 {
	position: absolute;
	top: 8px;
	left: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 246.69px;
	height: 39px;
}
.rectangle-parent19 {
	position: relative;
	width: 541px;
	height: 55px;
}
.header-princ-child13 {
	position: relative;
	width: 50px;
	height: 50px;
	object-fit: cover;
}
.bootstrapreal-worldbook-icon7 {
	position: relative;
	width: 50px;
	height: 50px;
	cursor: pointer;
}
.header-princ7 {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: var(--color-white);
	width: 1436px;
	display: flex;
	flex-direction: row;
	padding: 0px var(--padding-43xl);
	box-sizing: border-box;
	align-items: center;
	justify-content: flex-start;
	gap: var(--gap-71xl);
	font-family: var(--font-gill-sans-mt-condensed);
}
.prenom1 {
	position: absolute;
	top: 303px;
	left: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 479px;
	height: 105px;
}
.age1 {
	position: absolute;
	top: 353px;
	left: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 479px;
	height: 105px;
}
.adressse-mail {
	position: absolute;
	top: 427px;
	left: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 479px;
	height: 105px;
}
.mot-de-passe1 {
	position: absolute;
	top: 489px;
	left: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 479px;
	height: 105px;
}
.vrification-mot-de {
	position: absolute;
	top: 561px;
	left: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 479px;
	height: 105px;
}
.nom1 {
	position: absolute;
	top: 241px;
	left: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 479px;
	height: 105px;
}
.inscription1 {
	position: absolute;
	top: 129px;
	left: 399px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 639px;
	height: 127px;
}
.group-child27 {
	position: absolute;
	top: 533px;
	left: 580px;
	background-color: var(--color-gainsboro);
	width: 522px;
	height: 42px;
}
.group-child28 {
	position: absolute;
	top: 598px;
	left: 580px;
	background-color: var(--color-gainsboro);
	width: 522px;
	height: 42px;
}
.group-child29 {
	position: absolute;
	top: 273px;
	left: 580px;
	background-color: var(--color-gainsboro);
	width: 522px;
	height: 42px;
}
.group-child30 {
	position: absolute;
	top: 468px;
	left: 580px;
	background-color: var(--color-gainsboro);
	width: 522px;
	height: 42px;
}
.group-child31 {
	position: absolute;
	top: 397px;
	left: 580px;
	background-color: var(--color-gainsboro);
	width: 522px;
	height: 42px;
}
.group-child32 {
	position: absolute;
	top: 332px;
	left: 580px;
	background-color: var(--color-gainsboro);
	width: 522px;
	height: 42px;
}
.group-child33 {
	position: absolute;
	top: 711px;
	left: 592px;
	border-radius: var(--br-xl);
	background-color: var(--color-gainsboro);
	width: 252px;
	height: 57px;
}
.logo39 {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	gap: var(--gap-xl);
}
.group-child34 {
	position: absolute;
	top: 0px;
	left: 0px;
	border-radius: var(--br-xl);
	background-color: var(--color-silver);
	width: 276px;
	height: 50px;
}
.retour7 {
	position: absolute;
	top: 0px;
	left: 99px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 75px;
	height: 51px;
}
.rectangle-parent20 {
	position: relative;
	width: 276px;
	height: 51px;
	cursor: pointer;
}
.logo40 {
	width: 87px;
	height: 75px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.footer7 {
	position: absolute;
	top: 840px;
	left: 0px;
	background-color: var(--color-white);
	width: 1436px;
	height: 101px;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	padding: var(--padding-9xs) 0px var(--padding-9xs) var(--padding-lgi);
	box-sizing: border-box;
	align-items: center;
	justify-content: flex-start;
	gap: var(--gap-375xl);
	font-size: var(--font-size-xl);
}
.inscription2 {
	position: absolute;
	top: 726px;
	left: 595px;
	font-size: var(--font-size-xl);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 249px;
	height: 28px;
	cursor: pointer;
}
.rectangle-parent18 {
	position: absolute;
	top: 53px;
	left: 0px;
	width: 1436px;
	height: 941px;
}
.inscription {
	position: relative;
	width: 100%;
	height: 942px;
	text-align: center;
	font-size: var(--artiste-size);
	color: var(--color-white);
	font-family: var(--artiste);
}
