.all
{
    display: flex;
    flex-direction: column;
    align-items: center;

}


.wave
{

    width: 70vw;
    height: 30vh;
  
}

.partie_1 img
{
    width: 30vw;
    height: auto;
    
}



.partie_1
{
    
    display: flex;
    justify-content: space-between;
    gap: 20vw;
    margin: 20px

}

.partie_3
{

    display: flex;
    justify-content: space-between;

}

.partie_3 img
{


    width: 5vw;
    height: auto;
    margin: 20px;

}




@media screen and (max-width: 600px) 
{


    
.partie_1
{
   
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0px;
}


}