.group-child8 {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: var(--br-13xl);
    background-color: var(--color-silver);
    width: 651px;
    height: 578px;
  }
  .valider-item {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
  }
  .valider1 {
    position: absolute;
    top: 407px;
    left: 291px;
    border-radius: var(--br-xl);
    background-color: var(--color-snow-300);
    width: 69px;
    height: 69px;
    cursor: pointer;
  }
  .rectangle-parent8 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 651px;
    height: 578px;
  }
  .nom-musique {
    margin: 0;
  }
  .nom-musique-container1 {
    line-break: anywhere;
    width: 100%;
  }
  .nom-musique-container {
    position: absolute;
    top: 136px;
    left: 125px;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    width: 401px;
    height: 209px;
  }
  .cration-du-playlist1 {
    position: relative;
    width: 100%;
    height: 578px;
    text-align: center;
    font-size: var(--artiste-size);
    color: var(--color-snow-200);
    font-family: var(--artiste);
  }

  