#Accueil
{
position: relative;
width: 1436px;
height: 941px;
background-color:rgb(180, 197, 203);

}


#header_non_log
{
    position: absolute;
    width: 969px;
    height: 355px;
    left: 234px;
    top: 264px;
    background: #ffffff;
}

#connexion
{

    position: absolute;
    left: 12.53%;
    right: 68.45%;
    top: 18.52%;
    bottom: 12.04%;
    

}
#text_connexion
{

    position: absolute;
    left: 18.62%;
    right: 18.95%;
    top: 45.62%;
    bottom: 44.65%;
    
    font-family: 'Limelight';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #FFFFFF;


}

#rectangle_bleu
{

    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    
    background: #B4C5CB;
    border-radius: 20px;


}


#logo
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    left: 44.07%;
    right: 45.61%;
    top: 39.62%;
    bottom: 32.21%;
    

}

#img_log{

    width: 100px;
    height: 100px;

    flex: none;
    order: 0;
    flex-grow: 0;
}




#Inscription
{

    position: absolute;
    left: 67.83%;
    right: 13.02%;
    top: 18.52%;
    bottom: 12.04%;    

    
}
#text_inscription
{

position: absolute;
left: 17.22%;
right: 18.11%;
top: 37.62%;
bottom: 52.65%;

font-family: 'Limelight';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



}


/* 






#header_non_log

position: absolute;
width: 969px;
height: 355px;
left: 234px;
top: 264px;



#Header 

#Auto layout
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 247px;
gap: 10px;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;


#logo 

#Auto layout 
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

display: none;
width: 100px;
height: 100px;


#Inside auto layout
flex: none;
order: 0;
flex-grow: 0;


# logo 

#Auto layout
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
left: 44.07%;
right: 45.61%;
top: 39.62%;
bottom: 32.21%;



#logo 

#Auto layout 
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 100px;
height: 100px;

background: #FDFAFA;

#Inside auto layout 
flex: none;
order: 0;
flex-grow: 0;


#Design sans titre 1 

width: 100px;
height: 100px;

background: url(Design sans titre.png);


#Inside auto layout 
flex: none;
order: 0;
flex-grow: 0;


#Connexion 

position: absolute;
left: 12.53%;
right: 68.45%;
top: 18.52%;
bottom: 12.04%;



#Rectangle 48 

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #B4C5CB;
border-radius: 20px;


#Connexion 

position: absolute;
left: 18.62%;
right: 18.95%;
top: 45.62%;
bottom: 44.65%;

font-family: 'Limelight';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;



#Group 24 

position: absolute;
left: 67.83%;
right: 13.02%;
top: 18.52%;
bottom: 12.04%;



#Rectangle 49 

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #B4C5CB;
border-radius: 20px;


#Inscription 

position: absolute;
left: 17.22%;
right: 18.11%;
top: 37.62%;
bottom: 52.65%;

font-family: 'Limelight';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
