header{
height:10%;
background:#FFFFFF;
width: 100%;
}
#logo{
position: absolute;
height: 10%;
}
#filtre{
position: relative;
top: 15%; 
left: 15%;
height: 55%;
}
#recherche{
position: relative;
top: 2%; 
left: 17%;
height: 55%;
width: 50%;

}
#loupe{
position: relative;
top: 15%; 
left: 17%;
height: 45%;

}
#livre{
position: relative;
top: 15%; 
left: 20%;
height: 45%;

}

#maison{
position: relative;
top: 15%; 
left: 22%;
height: 45%;

}

.contenu
{


position:  relative;
text-align:center;

}


body{

 
width: 100%;
background-color:#B4C5CB;
 
 
}
p{
  font-family: 'Limelight';
}






